@import './../../styles/variables';

.login {
    padding: 3rem;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__row {
        padding: 0 0 1.5rem 0;
    }

    &__inputField {
        width: 100%;
        padding: 1rem;
        border: 1px solid  $text-color;
    }

    &__submitBtn {
        background-color: $dark-color;
        border: 0;
        padding: 1.5rem 1.5rem;
        border-radius: 1rem;
        color: $secondary-color;
        width: 100%;
        cursor: pointer;
        font-weight: 600;
    }

    &__back {
        color: $base-color;
        display: block;
        padding: 3rem;
        text-align: center;
    }
}