@import './../../styles/variables';

.order {
    background:  $base-color;
    padding: 1.5rem;
    border-radius: 1rem;
    color: $secondary-color;
    margin: 5rem 0;

    h2 {
        font-weight: 300;
        padding: 0 0 0 2rem;
        color: $text-color;
    }

    &__inner {
        padding: 1rem;
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 1.6rem;
        margin-bottom: 1.6rem;
    }

    &__inputField {
        width: 100%;
        background-color: $white-color;
        border-radius: 1rem;
        border: 0;
        padding: 1.5rem 1.5rem;
    }

    &__submitBtn {
        background-color: $dark-color;
        border: 0;
        padding: 1.5rem 1.5rem;
        border-radius: 1rem;
        color: $secondary-color;
        width: 100%;
        cursor: pointer;
        font-weight: 600;
    }

    &__col {
        position: relative;
    }

    &__phone {
        
        position: absolute;
        color: $text-color;
        right: 1rem;
        top: 1.6rem;

        svg {
            font-size: 2rem;
        }
    }
}