@import './../../styles/variables';

.profile {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 2rem;

    @include breakpoint(md) {
        grid-template-columns: 1fr;
    }

    &__sidebar {
        padding: 3rem 2rem 2rem 2rem;

        @include breakpoint(md) {
            order: 1;
            padding: 1rem 0;
        }
    }

    &__pic {
        padding: 4rem;

        @include breakpoint(md) {
            padding: 0;
            order: 0;
        }
    }

    &__description {
        
        p {
            font-size: 1.8rem;
        }

        h2 {
            margin: 0 0 2rem 0;
        }
    }

    &__experience {
        margin: 2rem 0 0 0;
        padding: 1.5rem 0 0 0;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        border-top: 1px dotted;

        h3 {
            font-weight: normal;
            font-size: inherit;
            
        }

        strong {
            margin: 0 0.5rem 0 2rem;
        }
    }

    &__reviews {
        padding: 1.5rem 0 0 0;
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        h3 {
            font-weight: normal;
            font-size: inherit;
        }
    }
    &__skils {
        list-style: none;
        margin: 0 0 0 2rem;
        padding: 0;
        display: flex;
        align-items: center;  

        li {
            margin: 0 0.5rem 0 0;

            svg {
                font-size: 1.8rem;
                color:  $yellow-color;
            }
        }
    }
}